# OpenSSF Best Practices

## Basics

### Basic project website content

Project website and general info URL

: <{{ github_url }}>

Contributing guidelines URL

: <{{ github_url }}/blob/main/.github/CONTRIBUTING.md>

### FLOSS license

License URL

: <{{ github_url }}/blob/main/LICENSE>

