# OpenSSF Best Practices


## Basics

### Basic project website content

Project website and general info URL

: <{{ github_url }}>

Contributing guidelines URL

: <{{ github_url }}/blob/main/.github/CONTRIBUTING.md>

### Documentation

Documentation URL

: <{{ github_url }}>


## Change control

### Public version-controlled source repository

[repo_interim]

: Interim project version is the "main" branch of the project. Changes are made by merging pull requests, after that the "main" branch can be used for review and independent deployment.

