{{ project_name }}
{{ '=' * (project_name | length) }}

| *todo: project description*

.. toctree::
    :maxdepth: 1
    :caption: Details
    :hidden:

    api
    changelog

.. include:: ../badges.md
    :parser: commonmark


Features
--------

.. include:: ../features.md
    :parser: commonmark


Installation
------------

.. tab-set::

    .. tab-item:: pip

        .. code:: shell

            $ pip install {{ pypi_package_name }}

    .. tab-item:: uv

        .. code:: shell

            $ uv add {{ pypi_package_name }}


.. _usage:

Use Cases
---------

.. include:: ../usage.md
    :parser: commonmark
{%- if project_script %}


.. _cli:

CLI Reference
-------------

.. include:: ../cli.md
    :parser: commonmark
{%- endif %}
