# {{ project_name }}
<!-- docsub: begin -->
<!-- docsub: exec yq '"> " + .project.description' pyproject.toml -->
> {{ project_description }}
<!-- docsub: end -->

<!-- docsub: begin -->
<!-- docsub: include docs/badges.md -->
<!-- docsub: end -->


<!-- docsub: begin -->
<!-- docsub: include docs/features.md -->
<!-- docsub: end -->


# Installation

```shell
$ pip install {{ pypi_package_name }}
```


# Usage

<!-- docsub: begin #usage.md -->
<!-- docsub: include docs/usage.md -->
<!-- docsub: end #usage.md -->


# See also

* [Documentation]({{ docs_url }})
* [Changelog]({{ github_url }}/tree/main/CHANGELOG.md)
* [Issues]({{ github_url }}/issues)
* [License]({{ github_url }}/tree/main/LICENSE)
