# {{ project_name }}
<!-- docsub: begin -->
<!-- docsub: exec yq '"> " + .project.description' pyproject.toml -->
<!-- docsub: end -->

<!-- docsub: begin -->
<!-- docsub: include docs/badges.md -->
<!-- docsub: end -->


# Features

<!-- docsub: begin -->
<!-- docsub: include docs/features.md -->
<!-- docsub: end -->


# Installation

```shell
$ pip install {{ pypi_package_name }}
```


# Usage

<!-- docsub: begin #usage.md -->
<!-- docsub: include docs/usage.md -->
<!-- docsub: end #usage.md -->


# Contributing

Pull requests, feature requests, and bug reports are welcome!

* [Contribution guidelines]({{ github_url }}/blob/main/.github/CONTRIBUTING.md)


# Authors

* {{ author_name }}


# See also

* [Documentation]({{ docs_url }})
* [Issues]({{ github_url }}/issues)
* [Changelog]({{ github_url }}/blob/main/CHANGELOG.md)
* [Security Policy]({{ github_url }}/blob/main/.github/SECURITY.md)
* [Contribution Guidelines]({{ github_url }}/blob/main/.github/CONTRIBUTING.md)
* [Code of Conduct]({{ github_url }}/blob/main/.github/CODE_OF_CONDUCT.md)
* [License]({{ github_url }}/blob/main/LICENSE)
