version: 2

build:
  os: ubuntu-24.04
  tools:
    python: "{{ readthedocs_python_version }}"

{%- if readthedocs_tool == 'mkdocs' %}
mkdocs:
  configuration: mkdocs.yml
{%- elif readthedocs_tool == 'sphinx' %}
sphinx:
  configuration: docs/sphinx/conf.py
{%- endif %}

python:
  install:
    - requirements: docs/requirements.txt
