<!-- docsub: begin -->
<!-- docsub: help {{ project_script_name }} -->
<!-- docsub: lines after 2 upto -1 -->
<!-- docsub: strip -->
```shell
$ {{ project_script_name }} --help
```
<!-- docsub: end -->
